TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE=
TELEGRAM_JOB_SESSION_NAME=job_monitor_session
TELEGRAM_PROXY_TYPE=
TELEGRAM_PROXY_HOST=
TELEGRAM_PROXY_PORT=
TELEGRAM_TARGET_CHAT_ID=
TELEGRAM_DAILY_SUMMARY_GROUP_ID=
TELEGRAM_READ_LIMIT=20
TELEGRAM_JOB_MONITOR_LIMIT=50
TELEGRAM_JOB_MONITOR_DEBUG=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_NOTIFY_CHAT_ID=
